.__navbar {
    height: 100px;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}